<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Movies With API TheMovieDB
      <img src="../../assets/icon/ieg.png" height="20" alt="" />
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col
        size="12"
        size-md="6"
        size-lg="4"
        size-xl="3"
        *ngFor="let fils of movies.results"
      >
        <ion-card>
          <img src="https://image.tmdb.org/t/p/w500/{{fils.poster_path }}" />
          <ion-card-header>
            <ion-card-title>{{ fils.title }}</ion-card-title>
            <ion-card-subtitle>👤 {{fils.popularity}}</ion-card-subtitle>
            <p>{{ fils.vote_average }} ⭐️</p>
          </ion-card-header>

          <ion-card-content> {{fils.overview}} </ion-card-content>
          <ion-button style="margin-left: 15px; text-transform: none"
            ><a
              href="https://info-appsmovies.vercel.app/"
              style="color: #fff; text-decoration: none"
              >Lihat Sekarang
            </a></ion-button
          >
          <br /><br />
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-button color="primary" (click)="backHome()" expand="block"
  >Back Home 🏠</ion-button
>

<ion-footer>
  <ion-toolbar
    style="
      text-align: center;
      font-weight: 800;
      font-size: 2em;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    "
  >
    <ion-title>made with 💙 by iegcode</ion-title>
  </ion-toolbar>
</ion-footer>
